.flashcard:hover {
  border: 4px solid #212020;
  cursor: pointer;
}

.flashcard {
  font-family: "SulphurPoint", sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 30px; 
  padding: 2rem;
  padding-top: 0.5rem;

  min-width: 300px;
  width: 70%;
  min-height: 4rem;

  height: 70vh;
  max-height: 500px;
}

.flashcard h2 {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  font-size: medium;
}

.flashcard h1 {
  text-align: center;
}