.modal-overlay {
  position: fixed;
  inset: 0; /* top, right, bottom, left */

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);

  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  z-index: 1001;

  font-family: "SulphurPoint";
}