.top-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  width: 100%;

  box-sizing: border-box;
  padding-left: 1%;
  padding-right: 1%;
  padding: 0 16px;

  background-color: whitesmoke;
}

.top-bar h1 {
  justify-self: center;
  font-family: "SulphurPoint";
  font-weight: 700;
}

.top-bar button {
    border-radius: 8px;
    width: 1.6em;
    height: 1.6em;
    margin-left: 10%;
    margin-right: 10%;
}

.top-bar button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.top-bar button:hover {
    background-color: #8b8b8b;
}