.review-flashcards-page {
  top: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(36, 67, 177);
}

.arrow-container {
  display: flex;
  gap: 2rem;
}

.settings-tab {
  position:fixed
  
}